# Ignore IDE & build files
*.iml
.gradle
/local.properties
.DS_Store

# IntelliJ IDEA
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Build output
/build
/captures
.externalNativeBuild
.cxx

# Optional: ignore gradle.properties if contains secret key
.env
